**/.git
**/.gitignore
**/.dockerignore
**/.env
**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/node_modules
**/.DS_Store
**/Thumbs.db
Dockerfile
docker-compose.yml
.gitattributes
.editorconfig
README.md
*.md
LICENSE
.github/
.gitlab-ci.yml
.travis.yml
