<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- 啟用 ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- 定義日誌目標 -->
  <targets>
    <!-- 檔案目標 -->
    <target xsi:type="File" name="allfile" 
            fileName="${currentdir}/Logs/${shortdate}.log"
            createDirs="true"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- 控制台目標 -->
    <target xsi:type="Console" name="lifetimeConsole" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <!-- 定義日誌規則 -->
  <rules>
    <!-- 所有日誌都寫入檔案 -->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <!-- 所有日誌都寫入控制台 -->
    <logger name="*" minlevel="Debug" writeTo="lifetimeConsole" />
  </rules>
</nlog>